In [1]:
#거스름돈 문제
n =1260
count = 0

coin_types = [500, 100, 50, 10]

for coin in coin_types:
  count += n //coin
  n %= coin

print(count)

6

#큰 수의 법칙

In [4]:
#my sol
N, M, K = map(int, input().split())

num_list = list(map(int, input().split()))#[int(a) for a in input().split()]

num_list.sort(reverse=True)

answer = 0

while M:
  for _ in range(K):
    answer += num_list[0]
    M -= 1
    if not M:
      break
  answer += num_list[1]
  M -= 1

print(answer)

5 8 3

In [11]:
# N, M, K를 공백을 기준으로 구분하여 입력 받기
n, m, k = map(int, input().split())
# N개의 수를 공백을 기준으로 구분하여 입력 받기
data = list(map(int, input().split()))

data.sort() # 입력 받은 수들 정렬하기
first = data[n - 1] # 가장 큰 수
second = data[n - 2] # 두 번째로 큰 수

# 가장 큰 수가 더해지는 횟수 계산
count = int(m / (k + 1)) * k
count += m % (k + 1)

result = 0
result += (count) * first # 가장 큰 수 더하기
result += (m - count) * second # 두 번째로 큰 수 더하기

print(result) # 최종 답안 출력

5 8 3
2 4 5 4 6
46

#숫자 카드 게임

In [13]:
#my sol
n, m = map(int, input().split())
data = []
for _ in range(n):
  data.append(list(map(int, input().split())))

answer = 0
for row in data:
  if not answer:
    answer = min(row)
  else:
    if answer < min(row):
      answer = min(row)

print(answer)

3 3
3 1 2
4 1 4
2 2 2
2

In [ ]:
# N, M을 공백을 기준으로 구분하여 입력 받기
n, m = map(int, input().split())

result = 0
# 한 줄씩 입력 받아 확인하기
for i in range(n):
    data = list(map(int, input().split()))
    # 현재 줄에서 '가장 작은 수' 찾기
    min_value = min(data)
    # '가장 작은 수'들 중에서 가장 큰 수 찾기
    result = max(result, min_value)

print(result) # 최종 답안 출력

In [ ]:
# N, M을 공백을 기준으로 구분하여 입력 받기
n, m = map(int, input().split())

result = 0
# 한 줄씩 입력 받아 확인하기
for i in range(n):
    data = list(map(int, input().split()))
    # 현재 줄에서 '가장 작은 수' 찾기
    min_value = 10001
    for a in data:
        min_value = min(min_value, a)
    # '가장 작은 수'들 중에서 가장 큰 수 찾기
    result = max(result, min_value)

print(result) # 최종 답안 출력

#1이 될 때까지

In [50]:
#my sol
n, k = map(int, input().split())

count = 0

while n != 1:
  while n % k == 0:
    n //= k
    count += 1
  if n == 1:
    break

  n -= 1
  count += 1

print(count)

25 5
2

In [ ]:
# N, K을 공백을 기준으로 구분하여 입력 받기
n, k = map(int, input().split())
result = 0

// N이 K 이상이라면 K로 계속 나누기
while n >= k:
    # N이 K로 나누어 떨어지지 않는다면 N에서 1씩 빼기
    while n % k != 0:
        n -= 1
        result += 1
    # K로 나누기
    n //= k
    result += 1

# 마지막으로 남은 수에 대하여 1씩 빼기
while n > 1:
    n -= 1
    result += 1

print(result)

In [51]:
# N, K공백을 기준으로 구분하여 입력 받기
n, k = map(int, input().split())

result = 0

while True:
    # N이 K로 나누어 떨어지는 수가 될 때까지만 1씩 빼기
    target = (n // k) * k
    result += (n - target)
    n = target
    # N이 K보다 작을 때 (더 이상 나눌 수 없을 때) 반복문 탈출
    if n < k:
        break
    # K로 나누기
    result += 1
    n //= k

# 마지막으로 남은 수에 대하여 1씩 빼기
result += (n - 1)
print(result)

79 7
8